.site > .menu {
  border-radius: 0 !important;
}

.main.container {
  max-width: 800px;
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 2em 2em 7em;
  z-index: 1;
}

.comments {
  max-width: 100% !important;
  margin: 0 auto !important;
}
